<!DOCTYPE html>
<html>

<head>
    <head>
        <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
</head>

<body>

    <!-- The below tag is using Bulma CSS. Try replacing line 30 with line 29. -->
    <!-- <div class="content"> -->
    <div class="page-content {% if is_wiki_page %}wiki-content{% endif %}">
        {% block content %}{{ page_content | safe }}{% endblock %}
    
    </div>

    <div class="nav-links">
        <a href="{{ url_for('home') }}">Home</a>
        &nbsp;&nbsp;
        <a href="{{ url_for('all_pages') }}">Pages</a>
        &nbsp;&nbsp;
        <a href="{{ url_for('about') }}">About</a>
    </div>

</body>

</html>